body {
    background-image: url(assets/background.png);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 50px;
}

#occupation{
color: magenta;
}

#separation{
    text-align: center;
    padding: 50px;
}

#technologyWiki{
    text-align: center;
}

h3{
    text-align:left;
}

ul{
    text-align: left;
}